<div style="text-align: center">
  <h1>Reactive Form Example</h1>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input id="name" formControlName="name" />
      <div
        *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched"
      >
        Name is required.
      </div>
    </div>

    <div>
      <label for="address">Address:</label>
      <input id="address" formControlName="address" />
      <div
        *ngIf="
          userForm.get('address')?.invalid && userForm.get('address')?.touched
        "
      >
        Address is required.
      </div>
    </div>

    <div>
      <label for="dateOfBirth">Date of Birth:</label>
      <input id="dateOfBirth" type="date" formControlName="dateOfBirth" />
      <div
        *ngIf="
          userForm.get('dateOfBirth')?.invalid &&
          userForm.get('dateOfBirth')?.touched
        "
      >
        Date of Birth is required.
      </div>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>
