<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input id="name" formControlName="name" />
    <div *ngIf="myForm.get('name')?.touched && myForm.get('name')?.invalid">
      <div *ngIf="myForm.get('name')?.errors?.['required']">
        Name is required
      </div>
      <div *ngIf="myForm.get('name')?.errors?.['minlength']">
        Name must be at least 3 characters long
      </div>
    </div>
  </div>

  <div>
    <label for="address">address:</label>
    <input id="address" formControlName="address" />
    <div
      *ngIf="myForm.get('address')?.touched && myForm.get('address')?.invalid"
    >
      <div *ngIf="myForm.get('address')?.errors?.['required']">
        address is required
      </div>
      <div *ngIf="myForm.get('address')?.errors?.['address']">
        address must be a valid address address
      </div>
    </div>
  </div>

  <div>
    <label for="dateOfBirth">Date of Birth:</label>
    <input id="dateOfBirth" formControlName="dateOfBirth" type="date" />
    <div
      *ngIf="
        myForm.get('dateOfBirth')?.touched && myForm.get('dateOfBirth')?.invalid
      "
    >
      <div *ngIf="myForm.get('dateOfBirth')?.errors?.['required']">
        Date of Birth is required
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="myForm.invalid">Submit</button>
</form>
